In [1]:
#EDUCATION
#Import
import pandas as pd
import numpy as np

In [2]:
# Read the Excel file into a pandas DataFrame
filedata = r"C:\\Users\\umay2\\Desktop\\SUFFER\\UNIV\\SEMESTER 2\\Basis Data\\PRAKTIKUM BASDAT\\Tugas 1\\Education\\student_excelvr_0nf.xlsx"
readexcel = pd.read_excel(filedata)
df= pd.DataFrame(readexcel)
print("DATA SEKOLAH:")
print(df)

DATA SEKOLAH:
       Id  Student_Age     Sex High_School_Type  Scholarship Additional_Work  \
0    5001           21    Male            Other         0.50             Yes
1    5002           20    Male            Other         0.50             Yes
2    5003           21    Male            State         0.50              No
3    5004           18  Female          Private         0.50             Yes
4    5005           22    Male          Private         0.50              No
..    ...          ...     ...              ...          ...             ...
140  5141           22  Female            State         0.50             Yes
141  5142           18  Female            State         0.75              No
142  5143           18  Female          Private         0.75              No
143  5144           22  Female            State         0.75             Yes
144  5145           18  Female          Private         1.00              No

    Sports_activity Transportation Report_Card_ID  Weekly_Study_Hours  \
0                No        Private           RC01                 0.0
1                No        Private           RC02                 0.0
2                No        Private           RC03                 2.0
3                No            Bus           RC04                 2.0
4                No            Bus           RC05                12.0
..              ...            ...            ...                 ...
140             Yes        Private          RC141                 0.0
141              No        Private          RC142                 0.0
142              No        Private          RC143                 0.0
143             Yes            Bus          RC144                 NaN
144              No        Private          RC145                12.0

    Attendance Reading Notes Listening_in_Class Project_work Grade
0       Always     Yes   Yes                 No           No    AA
1       Always     Yes    No                Yes          Yes    AA
2        Never      No    No                 No          Yes    AA
3       Always      No   Yes                 No           No    AA
4       Always     Yes    No                Yes          Yes    AA
..         ...     ...   ...                ...          ...   ...
140     Always      No   Yes                 No          Yes    CC
141      Never      No   Yes                Yes           No    CC
142     Always     Yes    No                 No           No    AA
143  Sometimes      No   Yes                 No          Yes    CB
144     Always     Yes    No                Yes           No    BB

[145 rows x 16 columns]

In [3]:
#1NF
#Cek bila ada data yang kosong
onenf= pd.isnull(df).sum()
print(onenf)

Id                    0
Student_Age           0
Sex                   0
High_School_Type      0
Scholarship           0
Additional_Work       0
Sports_activity       0
Transportation        0
Report_Card_ID        0
Weekly_Study_Hours    8
Attendance            0
Reading               0
Notes                 0
Listening_in_Class    0
Project_work          0
Grade                 0
dtype: int64

In [4]:
#Isi kolum weekly study hours dengan 0
for i in range(len(df['Weekly_Study_Hours'])):
    if pd.isnull(df.loc[i, 'Weekly_Study_Hours'])==True:
        df.loc[i,'Weekly_Study_Hours']=0
#transfer hasil 1NF
df.to_excel("C:\\Users\\umay2\\Desktop\\SUFFER\\UNIV\\SEMESTER 2\\Basis Data\\PRAKTIKUM BASDAT\\Tugas 1\\Education\\student_excelvr_1nf.xlsx")

In [5]:
#2NF
#Hilagkan partial dependency 
#membuat 2 kelompok kolum terdiri dari biodata sisawa dan laporan nilai
biodata = df[['Id','Student_Age','Sex',  'High_School_Type',  
              'Scholarship','Additional_Work','Sports_activity','Transportation','Report_Card_ID']]
laporan= df[['Report_Card_ID','Weekly_Study_Hours',  'Attendance','Reading','Notes'  
             ,'Listening_in_Class','Project_work','Grade']]
#Hasil 2NF
print("BIODATA SISWA:")
print(laporan)
print("LAPORAN SISWA:")
print(biodata)
#transfer hasil 2nf
with pd.ExcelWriter("C:\\Users\\umay2\\Desktop\\SUFFER\\UNIV\\SEMESTER 2\\Basis Data\\PRAKTIKUM BASDAT\\Tugas 1\\Education\\student_excelvr_2nf.xlsx") as writer:
    biodata.to_excel(writer, sheet_name="BIODATA SISWA")
    laporan.to_excel(writer, sheet_name="LAPORAN SISWA")

BIODATA SISWA:
    Report_Card_ID  Weekly_Study_Hours Attendance Reading Notes  \
0             RC01                 0.0     Always     Yes   Yes
1             RC02                 0.0     Always     Yes    No
2             RC03                 2.0      Never      No    No
3             RC04                 2.0     Always      No   Yes
4             RC05                12.0     Always     Yes    No
..             ...                 ...        ...     ...   ...
140          RC141                 0.0     Always      No   Yes
141          RC142                 0.0      Never      No   Yes
142          RC143                 0.0     Always     Yes    No
143          RC144                 0.0  Sometimes      No   Yes
144          RC145                12.0     Always     Yes    No

    Listening_in_Class Project_work Grade
0                   No           No    AA
1                  Yes          Yes    AA
2                   No          Yes    AA
3                   No           No    AA
4                  Yes          Yes    AA
..                 ...          ...   ...
140                 No          Yes    CC
141                Yes           No    CC
142                 No           No    AA
143                 No          Yes    CB
144                Yes           No    BB

[145 rows x 8 columns]
LAPORAN SISWA:
       Id  Student_Age     Sex High_School_Type  Scholarship Additional_Work  \
0    5001           21    Male            Other         0.50             Yes
1    5002           20    Male            Other         0.50             Yes
2    5003           21    Male            State         0.50              No
3    5004           18  Female          Private         0.50             Yes
4    5005           22    Male          Private         0.50              No
..    ...          ...     ...              ...          ...             ...
140  5141           22  Female            State         0.50             Yes
141  5142           18  Female            State         0.75              No
142  5143           18  Female          Private         0.75              No
143  5144           22  Female            State         0.75             Yes
144  5145           18  Female          Private         1.00              No

    Sports_activity Transportation Report_Card_ID
0                No        Private           RC01
1                No        Private           RC02
2                No        Private           RC03
3                No            Bus           RC04
4                No            Bus           RC05
..              ...            ...            ...
140             Yes        Private          RC141
141              No        Private          RC142
142              No        Private          RC143
143             Yes            Bus          RC144
144              No        Private          RC145

[145 rows x 9 columns]

In [6]:
#3NF
#Hilangkan transitive dependency
#cari relasi yang bisa di connect
idlaporangrade= df[['Id','Report_Card_ID','Grade']]
biodata = df[['Id','Student_Age','Sex',  'High_School_Type',  
              'Scholarship','Additional_Work','Sports_activity','Transportation']]
laporan= df[['Report_Card_ID','Weekly_Study_Hours',  'Attendance','Reading','Notes'  
             ,'Listening_in_Class','Project_work','Grade']]
#Hasil 3NF
print("HASIL SEMESTER SISWA:")
print(idlaporangrade)
print("BIODATA SISWA:")
print(laporan)
print("LAPORAN SISWA:")
print(biodata)
#transfer hasil 3NF
with pd.ExcelWriter("C:\\Users\\umay2\\Desktop\\SUFFER\\UNIV\\SEMESTER 2\\Basis Data\\PRAKTIKUM BASDAT\\Tugas 1\\Education\\student_excelvr_3nf.xlsx") as writer:
    idlaporangrade.to_excel(writer, sheet_name="NILAI SISWA")
    biodata.to_excel(writer, sheet_name="BIODATA SISWA")
    laporan.to_excel(writer, sheet_name="LAPORAN SISWA")

HASIL SEMESTER SISWA:
       Id Report_Card_ID Grade
0    5001           RC01    AA
1    5002           RC02    AA
2    5003           RC03    AA
3    5004           RC04    AA
4    5005           RC05    AA
..    ...            ...   ...
140  5141          RC141    CC
141  5142          RC142    CC
142  5143          RC143    AA
143  5144          RC144    CB
144  5145          RC145    BB

[145 rows x 3 columns]
BIODATA SISWA:
    Report_Card_ID  Weekly_Study_Hours Attendance Reading Notes  \
0             RC01                 0.0     Always     Yes   Yes
1             RC02                 0.0     Always     Yes    No
2             RC03                 2.0      Never      No    No
3             RC04                 2.0     Always      No   Yes
4             RC05                12.0     Always     Yes    No
..             ...                 ...        ...     ...   ...
140          RC141                 0.0     Always      No   Yes
141          RC142                 0.0      Never      No   Yes
142          RC143                 0.0     Always     Yes    No
143          RC144                 0.0  Sometimes      No   Yes
144          RC145                12.0     Always     Yes    No

    Listening_in_Class Project_work Grade
0                   No           No    AA
1                  Yes          Yes    AA
2                   No          Yes    AA
3                   No           No    AA
4                  Yes          Yes    AA
..                 ...          ...   ...
140                 No          Yes    CC
141                Yes           No    CC
142                 No           No    AA
143                 No          Yes    CB
144                Yes           No    BB

[145 rows x 8 columns]
LAPORAN SISWA:
       Id  Student_Age     Sex High_School_Type  Scholarship Additional_Work  \
0    5001           21    Male            Other         0.50             Yes
1    5002           20    Male            Other         0.50             Yes
2    5003           21    Male            State         0.50              No
3    5004           18  Female          Private         0.50             Yes
4    5005           22    Male          Private         0.50              No
..    ...          ...     ...              ...          ...             ...
140  5141           22  Female            State         0.50             Yes
141  5142           18  Female            State         0.75              No
142  5143           18  Female          Private         0.75              No
143  5144           22  Female            State         0.75             Yes
144  5145           18  Female          Private         1.00              No

    Sports_activity Transportation
0                No        Private
1                No        Private
2                No        Private
3                No            Bus
4                No            Bus
..              ...            ...
140             Yes        Private
141              No        Private
142              No        Private
143             Yes            Bus
144              No        Private

[145 rows x 8 columns]