In [20]:
#kelompok 10

In [21]:
#imports
import pandas as pd

In [22]:
# Original DataFrame
df = pd.read_csv("C:\\Users\\umay2\\Desktop\\SUFFER\\UNIV\\SEMESTER 2\\Struktur Data\\health\\DATA TUGAS SORT,SEARCH.csv")
print(df)

                   State Uninsured Rate (2010) Uninsured Rate (2015)  \
0               Alabama                  14.6%                 10.1%
1                Alaska                  19.9%                 14.9%
2               Arizona                  16.9%                 10.8%
3              Arkansas                  17.5%                  9.5%
4             California                 18.5%                  8.6%
5               Colorado                 15.9%                  8.1%
6            Connecticut                  9.1%                    6%
7              Delaware                   9.7%                  5.9%
8   District of Columbia                  7.6%                  3.8%
9               Florida                  21.3%                 13.3%
10              Georgia                  19.7%                 13.9%
11                Hawaii                  7.9%                    4%
12                 Idaho                 17.7%                   11%
13             Illinois                  13.8%                  7.1%
14              Indiana                  14.8%                  9.6%
15                 Iowa                   9.3%                    5%
16               Kansas                  13.9%                  9.1%
17              Kentucky                 15.3%                    6%
18            Louisiana                  17.8%                 11.9%
19                Maine                  10.1%                  8.4%
20              Maryland                 11.3%                  6.6%
21         Massachusetts                  4.4%                  2.8%
22             Michigan                  12.4%                  6.1%
23             Minnesota                  9.1%                  4.5%
24          Mississippi                  18.2%                 12.7%
25             Missouri                  13.2%                  9.8%
26              Montana                  17.3%                 11.6%
27             Nebraska                  11.5%                  8.2%
28                Nevada                 22.6%                 12.3%
29        New Hampshire                  11.1%                  6.3%
30           New Jersey                  13.2%                  8.7%
31            New Mexico                 19.6%                 10.9%
32              New York                 11.9%                  7.1%
33       North Carolina                  16.8%                 11.2%
34         North Dakota                   9.8%                  7.8%
35                 Ohio                  12.3%                  6.5%
36             Oklahoma                  18.9%                 13.9%
37                Oregon                 17.1%                    7%
38         Pennsylvania                  10.2%                  6.4%
39          Rhode Island                 12.2%                  5.7%
40       South Carolina                  17.5%                 10.9%
41         South Dakota                  12.4%                 10.2%
42            Tennessee                  14.4%                 10.3%
43                Texas                  23.7%                 17.1%
44                 Utah                  15.3%                 10.5%
45               Vermont                    8%                  3.8%
46             Virginia                  13.1%                  9.1%
47            Washington                 14.2%                  6.6%
48        West Virginia                  14.6%                    6%
49            Wisconsin                   9.4%                  5.7%
50               Wyoming                 14.9%                 11.5%
51         United States                 15.5%                  9.4%

   Uninsured Rate Change (2010-2015)  \
0                             -4.5%
1                               -5%
2                             -6.1%
3                               -8%
4                             -9.9%
5                             -7.8%
6                             -3.1%
7                             -3.8%
8                             -3.8%
9                               -8%
10                            -5.8%
11                            -3.9%
12                            -6.7%
13                            -6.7%
14                            -5.2%
15                            -4.3%
16                            -4.8%
17                            -9.3%
18                            -5.9%
19                            -1.7%
20                            -4.7%
21                            -1.6%
22                            -6.3%
23                            -4.6%
24                            -5.5%
25                            -3.4%
26                            -5.7%
27                            -3.3%
28                           -10.3%
29                            -4.8%
30                            -4.5%
31                            -8.7%
32                            -4.8%
33                            -5.6%
34                              -2%
35                            -5.8%
36                              -5%
37                           -10.1%
38                            -3.8%
39                            -6.5%
40                            -6.6%
41                            -2.2%
42                            -4.1%
43                            -6.6%
44                            -4.8%
45                            -4.2%
46                              -4%
47                            -7.6%
48                            -8.6%
49                            -3.7%
50                            -3.4%
51                              6.1%

    Health Insurance Coverage Change (2010-2015)  \
0                                         215000
1                                          36000
2                                         410000
3                                         234000
4                                        3826000
5                                         419000
6                                         110000
7                                          35000
8                                          25000
9                                        1597000
10                                        581000
11                                         54000
12                                        109000
13                                        850000
14                                        339000
15                                        132000
16                                        137000
17                                        404000
18                                        269000
19                                         22000
20                                        278000
21                                        107000
22                                        618000
23                                        250000
24                                        161000
25                                        203000
26                                         58000
27                                         62000
28                                        294000
29                                         63000
30                                        398000
31                                        178000
32                                        939000
33                                        552000
34                                         15000
35                                        664000
36                                        192000
37                                        403000
38                                        479000
39                                         68000
40                                        317000
41                                         19000
42                                        266000
43                                       1781000
44                                        143000
45                                         26000
46                                        327000
47                                        537000
48                                        156000
49                                        211000
50                                         20000
51                                      19304000

    Employer Health Insurance Coverage (2015)  \
0                                     2545000
1                                      390000
2                                     3288000
3                                     1365000
4                                    19552000
5                                     2949000
6                                     2148000
7                                      564000
8                                      388000
9                                     8847000
10                                    5240000
11                                     867000
12                                     836000
13                                    7359000
14                                    3825000
15                                    1862000
16                                    1659000
17                                    2316000
18                                    2295000
19                                     702000
20                                    3700000
21                                    4232000
22                                    5876000
23                                    3319000
24                                    1326000
25                                    3389000
26                                     510000
27                                    1100000
28                                    1505000
29                                     853000
30                                    5450000
31                                     884000
32                                   10895000
33                                    4934000
34                                     450000
35                                    6831000
36                                    1948000
37                                    2070000
38                                    7502000
39                                     597000
40                                    2487000
41                                     449000
42                                    3369000
43                                   13709000
44                                    1897000
45                                     345000
46                                    4850000
47                                    3986000
48                                     976000
49                                    3521000
50                                     335000
51                                  172292000

    Marketplace Health Insurance Coverage (2016)  \
0                                         165534
1                                          17995
2                                         179445
3                                          63357
4                                        1415428
5                                         108311
6                                         102917
7                                          25379
8                                          17666
9                                        1531714
10                                        478016
11                                         13313
12                                         94270
13                                        335243
14                                        168884
15                                         48949
16                                         89566
17                                         74640
18                                        184403
19                                         75240
20                                        135208
21                                        207121
22                                        313123
23                                         74060
24                                         77747
25                                        252044
26                                         51758
27                                         80213
28                                         79876
29                                         49114
30                                        249395
31                                         47497
32                                        224014
33                                        545354
34                                         20536
35                                        212046
36                                        130178
37                                        131167
38                                        412347
39                                         35583
40                                        204846
41                                         24578
42                                        231705
43                                       1092650
44                                        164415
45                                         27883
46                                        378838
47                                        158245
48                                         33235
49                                        224208
50                                         22076
51                                      11081330

    Marketplace Tax Credits (2016) Average Monthly Tax Credit (2016)  \
0                           152206                             $310
1                            16205                             $750
2                           124346                             $230
3                            56843                             $306
4                          1239893                             $309
5                            67062                             $318
6                            80759                             $357
7                            21467                             $330
8                             1224                             $183
9                          1428712                             $305
10                          427353                             $291
11                           10958                             $270
12                           82802                             $265
13                          259701                             $237
14                          139437                             $259
15                           42595                             $307
16                           75815                             $247
17                           56488                             $258
18                          170806                             $362
19                           63896                             $342
20                          100844                             $243
21                          157751                             $190
22                          275080                             $233
23                           47266                             $203
24                           73246                             $306
25                          225878                             $315
26                           44091                             $306
27                           72091                             $296
28                           71472                             $268
29                           31151                             $261
30                          205242                             $322
31                           32703                             $212
32                          123830                             $178
33                          499178                             $401
34                           17630                             $262
35                          174448                             $250
36                          113209                             $298
37                           95507                             $253
38                          321345                             $248
39                           30015                             $250
40                          186345                             $312
41                           22005                             $307
42                          203112                             $299
43                          913177                             $271
44                          145288                             $187
45                           19575                             $300
46                          319068                             $276
47                          110476                             $238
48                           29163                             $388
49                          190542                             $332
50                           20313                             $459
51                         9389609                             $291

   State Medicaid Expansion (2016)  Medicaid Enrollment (2013)  \
0                            False                    799176.0
1                             True                    122334.0
2                             True                   1201770.0
3                             True                    556851.0
4                             True                   7755381.0
5                             True                    783420.0
6                             True                         NaN
7                             True                    223324.0
8                             True                    235786.0
9                            False                   3104996.0
10                           False                   1535090.0
11                            True                    288357.0
12                           False                    238150.0
13                            True                   2626943.0
14                            True                   1120674.0
15                            True                    493515.0
16                           False                    378160.0
17                            True                    606805.0
18                            True                   1019787.0
19                           False                         NaN
20                            True                    856297.0
21                            True                   1296359.0
22                            True                   1912009.0
23                            True                    873040.0
24                           False                    637229.0
25                           False                    846084.0
26                            True                    148974.0
27                           False                    244600.0
28                            True                    332560.0
29                            True                    127082.0
30                            True                   1283851.0
31                            True                    457678.0
32                            True                   5678417.0
33                           False                   1595952.0
34                            True                     69980.0
35                            True                   2341481.0
36                           False                    790051.0
37                            True                    626356.0
38                            True                   2386046.0
39                            True                    190833.0
40                           False                    889744.0
41                           False                    115501.0
42                           False                   1244516.0
43                           False                   4441605.0
44                           False                    294029.0
45                            True                    161081.0
46                           False                    935434.0
47                            True                   1117576.0
48                            True                    354544.0

In [23]:
#preprocessing
#Average Monthly Tax Credit (2016)
amtc = df['Average Monthly Tax Credit (2016)']
#hilangin $
amtc = amtc.replace('[\$]','', regex = True).astype(int)
print(amtc)
# Convert the column data to a list
amtc_list = amtc.tolist()
print(amtc_list)

0     310
1     750
2     230
3     306
4     309
5     318
6     357
7     330
8     183
9     305
10    291
11    270
12    265
13    237
14    259
15    307
16    247
17    258
18    362
19    342
20    243
21    190
22    233
23    203
24    306
25    315
26    306
27    296
28    268
29    261
30    322
31    212
32    178
33    401
34    262
35    250
36    298
37    253
38    248
39    250
40    312
41    307
42    299
43    271
44    187
45    300
46    276
47    238
48    388
49    332
50    459
51    291
Name: Average Monthly Tax Credit (2016), dtype: int32
[310, 750, 230, 306, 309, 318, 357, 330, 183, 305, 291, 270, 265, 237, 259, 307, 247, 258, 362, 342, 243, 190, 233, 203, 306, 315, 306, 296, 268, 261, 322, 212, 178, 401, 262, 250, 298, 253, 248, 250, 312, 307, 299, 271, 187, 300, 276, 238, 388, 332, 459, 291]

<>:5: SyntaxWarning: invalid escape sequence '\$'
<>:5: SyntaxWarning: invalid escape sequence '\$'
C:\Users\umay2\AppData\Local\Temp\ipykernel_54232\1986108297.py:5: SyntaxWarning: invalid escape sequence '\$'
  amtc = amtc.replace('[\$]','', regex = True).astype(int)

In [27]:
# Sequential search function
def sequential_search(data, target):
    for index, value in enumerate(data):
        if value == target:
            return index  # Return the index where the target is found
    return -1  # Return -1 if the target is not found

# Test the sequential search function
target_value = 7  # Replace with the value you are searching for
result_index = sequential_search(amtc_list, target_value)

if result_index != -1:
    print(f"Target value {target_value} found at index {result_index}.")
else:
    print(f"Target value {target_value} not found in the list.")

# Display the DataFrame and processed list
print(amtc_list)

Target value 7 not found in the list.
[310, 750, 230, 306, 309, 318, 357, 330, 183, 305, 291, 270, 265, 237, 259, 307, 247, 258, 362, 342, 243, 190, 233, 203, 306, 315, 306, 296, 268, 261, 322, 212, 178, 401, 262, 250, 298, 253, 248, 250, 312, 307, 299, 271, 187, 300, 276, 238, 388, 332, 459, 291]

In [28]:
#Binary searching (iterative) (perbandingan median)
def binary_search_iterative(lst, target):
    left, right = 0, len(lst) - 1

    while left <= right:
        mid = left + (right - left) // 2  # Avoid potential overflow

        # Check if target is present at mid
        if lst[mid] == target:
            return mid
        # If target is greater, ignore the left half
        elif lst[mid] < target:
            left = mid + 1
        # If target is smaller, ignore the right half
        else:
            right = mid - 1

    # If we reach here, the element was not present
    return -1

# Example usage:
if __name__ == "__main__":
    my_list = amtc_list
    target_value = 7

    result = binary_search_iterative(my_list, target_value)

    if result != -1:
        print(f"Element {target_value} found at index {result}.")
    else:
        print(f"Element {target_value} not found in the list.")

Element 7 not found in the list.